@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x: hidden;
}



*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: #f3f5fb;
    border: 1px solid #c9d7e4;
}
*::-webkit-scrollbar-thumb {
    background: #2b4865;
    border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.nav-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
}
nav{
    width: 95vw;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    color:  #2B4865;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.515);
    box-shadow: 0px 1px 10px 0px #000000;
    backdrop-filter: blur(12px);
    border-radius: 25px;
}
nav img{
    width: 8%;
}
.center-div{
    width: 8%;
}
nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: #2B4865;
}

nav ul li {
    cursor: pointer;
    transition: .3s;
}

nav ul li:hover{
    color: #3a68cd;
}

.section-introducao{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.introducao-container{
    padding-left: 10rem;
    width: 50vw;
    padding-top: 5vw;
}

.section-introducao img{
    padding-top: 5vw;
    width: 40vw;
}

.section-introducao .introducao-subtext{
    color: #748494;
    display: flex;
    flex-direction: column;
    
}

.section-introducao .introducao-subtext .bottom-line{
    display: inline-block;
    width: 80px;
    background-image: linear-gradient(90deg, #2B4865, #002B5B);
    height: 2px;
    margin-top: 25px;
}

.section-introducao .introducao-title{
    font-size: 42px;
    font-weight: 600;
    color: #212529;
    max-width: 23ch;
}

.section-introducao .introducao-subtitle{
    font-size: 22px;
    color: #748494;
    max-width: 40ch;
}

.section-introducao .introducao-buttons{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    padding: 15px;
}

.section-introducao .introducao-buttons button{
    border: none;
    border-radius: 28px;
    width: 170px;
    height: 54px;
    cursor: pointer;
    transition: .2s;
}

.section-introducao .introducao-buttons button:hover{
    transform: scale(1.02);
 }

.section-introducao .introducao-buttons  #btn-start{
    background-image: linear-gradient(90deg, #2B4865, #002B5B);
    color: white;
    font-weight: 600;
    
}

.section-introducao .introducao-buttons  #btn-learn{
    background-color: white;
    color: #2B4865;
    border: 2px solid #2B4865;
    font-weight: 600;
}

.section-2{
    width: 100vw;
    height: 100vh;
    background-color: #F3F5FB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-section2,
.container-section-product {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.container-section2 img {
    width: 50%;
}

.section-2-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 30vw;
    padding: 10px;
}

.section-2-content button{
    max-width: fit-content;
    padding: 14px 44px 14px 44px;
    border: none;
    border-radius: 28px;
    color: white;
    background-image: linear-gradient(90deg, #2B4865, #002B5B);
    font-weight: 600;
    cursor: pointer;
    transition: .2s
}

.section-2-content button:hover{
    transform: scale(1.02);
}

.section-2-title{
    font-size: 28px;
    color: black;
    font-weight: 600;
}

.section-2-text{
    color: black;
    font-size: 18px;
    font-weight: 550;
}

.section-integrantes{
    padding-top: 5vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.integrantes-informacao{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 52%;
    text-align: left;
    font-size: 20px;
}

.integrantes-informacao h2{
    width: 100%;
    text-align: center;
    font-size: 28px
}
.integrantes-text{
    width: 100%;
}

.container-integrantes-column{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
    width: 70vw;
    height: 70vh;
}



.container-integrantes-row{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
    height: 50%;
    padding: 10px;
}

.div-integrante{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.div-integrante img{
    width: 50%;
    border-radius: 50%;
}

.nome-integrante{
    font-size: 20px;
}

/* Section Product */
.section-product{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg, #19426b, #002B5B);
    background-color: aqua;
}

.container-section-product{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.container-section-product img {
    width: 30vw;
}

.section-product-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5px;
    max-width: 70ch;
}

.section-product-content button{
    max-width: fit-content;
    padding: 14px 44px 14px 44px;
    border: 2px solid #2B4865;
    border-radius: 28px;
    color: #2B4865;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .2s
}

.section-product-content button:hover{
    transform: scale(1.02);
}

.section-product-title{
    padding-top: 5rem;
    font-size: 46px;
    color: white;
    font-family: 'Hammersmith One', sans-serif;
}

.section-product-text{
    color: white;
    font-size: 22px;
    font-weight: 550;
    font-family: 'Hammersmith One', sans-serif;
}

/* Section Contact */

.section-contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F5FB;
}

.container-section-contact{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(90deg, #19426b, #002B5B);
    border-radius: 25px;
    box-shadow: 0px 10px 10px #212529;
    overflow: hidden;
}

.container-section-contact img {
    width: 30vw;
}

.section-contact-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5px;
    max-width: 60ch;
    width: 35%;
}

.section-contact-content button{
    max-width: fit-content;
    padding: 14px 44px 14px 44px;
    border: 2px solid #2B4865;
    border-radius: 28px;
    color: #2B4865;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.section-contact-content button:hover{
    transform: scale(1.02);
}

.section-contact-title{
    padding-top: 5rem;
    font-size: 46px;
    color: #F3F5FB;
    font-family: 'Hammersmith One', sans-serif;
}

.section-contact-text{
    color: white;
    font-size: 22px;
    font-weight: 550;
    font-family: 'Hammersmith One', sans-serif;
}

.form-contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.label-contact {
    color: #F3F5FB;
    font-size: 1.1rem;
}

.input-contact {
    background-color: #F3F5FB;
    border-radius: 10px;
    width: 100%;
    height: 34px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 5px;
    font-size: 20px;
    padding: 10px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: #002B5B;
}

.input-contact, select {
    padding: 5px;
}
.footer-logo{
    width: 14%;
    margin-top: 2rem;

    margin-left: 56px;
}

.footer-name-logo{
    display: flex;
    margin-top: -2.5rem;
    left: 130px;
    position: relative;
    font-size: 25px;
}

.fa-brands, .fab{
    font-size: 30px;
    margin-left: 20px;
    left: 51px;
    position: relative;
    margin-top: 30px;
}

.footer-link{
    display: flex;
    margin-top: -6.1rem;
    left: 526px;
    position: relative;
    font-size: 25px;
}

.footer-link-topics{
    text-decoration: none;
    color: #000000;
    left: 267px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 8px;
    line-height: 2rem;
}

.footer-contact{
    display: flex;
    margin-top: -13.100000000000001rem;
    left: 972px;
    position: relative;
    font-size: 25px;
}

.fa-solid, .fas {
    font-weight: 900;
    font-size: 25px;
    left: 916px;
    position: relative;
    margin-top: 17px;
}

.address{
    position: relative;
    margin-top: -24px;
    left: 954px;
}

.footer-email{
    position: relative;
    margin-top: -24px;
    left: 954px; 
}

.footer-phone{
    position: relative;
    margin-top: -24px;
    left: 954px;
}

.footer-right{
    text-align: center;
    margin-top: 41px;
    padding: 16px;
}